.footer {
    background-color: #212121;
    text-align: center;
    padding: 10px 20px;
    width: 50%;
    color: #F5F5F5;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: auto;
}

@media (max-width: 768px) {
    .footer {
        padding: 10px;
        font-size: 14px;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }
}

@media (width: 1024px) {
    .footer { 
        margin-left: 34%;
    }
}

@media (width: 1440px) {
    .footer {
        margin-left: 32%;
    }
}
/* © 2025 Luis Soares. All rights reserved.*/